.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 { 
  font-weight: 200;
  color: whitesmoke;
}

#search_input {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 16px 0px 16px 45px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

#submit_btn {
    position: absolute;
    top: 6px;
    left: 10px;
    height: 32px;
    width: 32px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background-image: url('./assets/svg/search_icon.svg'); /* Set the bg image here. with "no-repeat" */
    background-size: cover;
}

.search {
    position: relative;
    width: 240px;
    height: 64px;
}

.user-card {
  background-color: white;
  padding: 0.75rem;
  border-radius: 8px;
  box-shadow: black 40px;
  width: 260px;
  background: #D9D9D9;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
}

#user_profile {
  width: 260px;
  border-radius: 8px 8px 0 0;
}

span {
  margin: 0;
}

#user_login {
  color:#8c8989;
  font-weight: 500;
  margin-top: -20px;
}

#github_button {
  background: #689B4B;
  border-radius: 8px;
  padding: 10px 11px;
  text-decoration: none;
  color: white;
  max-width: 160px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

#github_button:hover {
  background-color: #385229;
  transition: all ease-in-out 0.2s;
}

.grey-bg {
  background-color: #c4c4c4;
}

@media only screen and (min-width: 768px) {

  .App {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }

  .search {
    width: 260px;
  }
}